#--------OAuth2.0 Client Configuration---------
#scope=
#state=
grant_type=authorization_code
username=sachin.sanke@gmail.com
password=J@tA1rways
client_id=3MVG9d8..z.hDcPKUw3vkItg3dHoVL6V.v3mbO0uUmkPnXUMsi0Q2QysMFViTi4UEtvDSY9AeKQAcI54O0Gfj
client_secret=4595904647819919705
access_token=00D7F000007CgC1!AQsAQCJH9xmvawP0p9tCYWp.gYewOUIffy0UKjvzIoMLUxOwWJuwkGPcfxBtb2ysycCdwSV1a81GM6lLY84Mqo9SXR40f3SQ
refresh_token=5Aep8613hy0tHCYdhy9PCERDtMmZiJ8X2JmHp6OTkxJsTL2s5ozHTQTcp1SO_c9h21sF3fu6DRF2S4xvs5ZeIeV
approval_prompt_key=prompt
approval_prompt_value=login consent
access_type_key=access_type
access_type_value=offline
redirect_uri=https://localhost:8443/OAuth2.0_AuthCode/handler
#redirect_uri=http://localhost:8080/oauthorization/handler
authentication_server_url=https://login.salesforce.com/services/oauth2/authorize
token_endpoint_url=https://login.salesforce.com/services/oauth2/token
resource_server_url=https://login.salesforce.com/id/00D7F000007CgC1UAK/0057F000003sTywQAE
#------------------------------------------------






















